<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meal Plan Analysis</title>
    <script src="func.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap-reboot.min.css">
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
</head>
<body>

<div id="app" class="wrapper">

<form id="form">
    <div id="scrapper">
        <p for="rawTransactionData">Copy and paste all data from <a href="https://mealacct.mcmaster.ca/OneWeb/Account">Meal Plan Account</a> > Financial > Transations:</p>
        <textarea name="rawTransactionData" id="rawTransactionData" cols="25 " rows="5" v-model="cpdata"></textarea>
    </div>
    <br>
    <div id="options">        
        <p>
            <label for="mealPlanOptions">Meal Plan:</label>
            <select name="mealPlanOptions" id="mealPlanOptions" v-model="mealPlan">
                <option value="groupA.minimum">Group A - Minimum</option>
                <option value="groupA.light">Group A - Light</option>
                <option value="groupA.regular">Group A - Regular</option>
                <option value="groupA.varsity">Group A - Varsity</option>
                <option disabled="disabled">------------------------</option>
                <option value="groupB.minimum">Group B - Minimum</option>
                <option value="groupB.light">Group B - Light</option>
                <option value="groupB.regular">Group B - Regular</option>
                <option value="groupB.varsity">Group B - Varsity</option>
            </select>
        </p>

        <p>
            <label for="prcntWeeksAway">Percentage of weeks away:</label>
            <input type="number" min="0" max="100" step="1" name="prcntWeekendsAway" id="prcntWeekendsAway" placeholder="25" v-model="prcntWeekendsAway">
        </p>

        <p>
            <p>Reading weeks away:</p>
            <label for="awayFallReadingWeek">Fall:</label>
            <input type="checkbox" name="awayFallReadingWeek" id="awayFallReadingWeek" v-model="readingWeekAwayF">
            <label for="awayWinterReadingWeek">Winter:</label>
            <input type="checkbox" name="awayWinterReadingWeek" id="awayWinterReadingWeek" v-model="readingWeekAwayW">
        </p>

        <p>
            <label for="extraDaysAway">Extra Days Away</label>
            <input type="number" name="extraDaysAway" id="extraDaysAway" placeholder="0" v-model="numIndvDaysAway">
        </p>
        
        <p>
            <label for="lastExamDayFall">Last fall exam day:</label>
            <input type="number" name="lastExamDayFall" id="lastExamDayFall" placeholder="Default: 21" v-model="lastExamDayF">
            <label for="lastExamDayWinter">Last winter exam day:</label>
            <input type="number" name="lastExamDayWinter" id="lastExamDayWinter" placeholder="Default: 26" v-model="lastExamDayW">
        </p>
    </div>
    <div id="submit">
        <p>
            <input type="submit" value="Calculate">
        </p>
    </div>
</form>

<hr>

<div id="output" v-if="cpdata">

    <h1 id="avgSpent">Average Spent Per Day: <span class="output" v-bind:style="{ color: spendingColor }">${{ avgSpent }}</span></h1>
    <h2 id="allowedSpending">You are allowed to spend: <span class="output">${{ allowedSpending }}</span></h2>
    <h3>It costs you ${{ costPerDay }} to eat for a day</h3>
    <h3>You have spent: ${{ totalSpent }} in total</h3>
    <h3>You have ${{ initialBalance - totalSpent }} remaining</h3>
    <h3>If you continue with your current spending, you will have ${{ remainingAmountAvg }} remaining at the end of the year</h3>
    <p>{{ locations }}</p>

</div>

</div>

<script>

var vm = new Vue({
    el: '#app',
    data: {
        cpdata: `Logo Image	

ACCOUNT 
FINANCIAL 
ADD CASH
 LOG OFF
Transactions
Quick Search
Past 30 days
Past 60 days
Select a Date Range
 From:   
08/26/2017
 To:   
09/14/2017
  
Date	Amount	Balance	Units	Trantype	Terminal
09/14/2017 7:02:20 PM	-$4.27	1	0	004 : VEND (MONEY)	00084 : BRIDGES-1
09/14/2017 11:45:44 AM	-$4.24	1	0	004 : VEND (MONEY)	00011 : LAPIAZZA-1
09/13/2017 7:08:43 PM	-$3.67	1	0	004 : VEND (MONEY)	00084 : BRIDGES-1
09/13/2017 12:23:54 PM	-$3.75	1	0	004 : VEND (MONEY)	00021 : LAPIAZZA-3
09/12/2017 7:46:28 PM	-$1.04	1	0	004 : VEND (MONEY)	00046 : MMM-TH
09/12/2017 6:48:21 PM	-$3.57	1	0	004 : VEND (MONEY)	00046 : MMM-TH
09/12/2017 12:42:20 PM	-$3.97	1	0	004 : VEND (MONEY)	00048 : LAPIAZZA-4
09/11/2017 6:55:31 PM	-$2.97	1	0	004 : VEND (MONEY)	00048 : LAPIAZZA-4
09/11/2017 1:55:52 PM	-$4.12	1	0	004 : VEND (MONEY)	00063 : MMM-1
09/08/2017 5:47:31 PM	-$3.99	1	0	004 : VEND (MONEY)	00015 : TERIYAKI (MIJ)
09/07/2017 6:29:31 PM	-$5.94	1	0	004 : VEND (MONEY)	00060 : EMW-2
09/07/2017 1:32:23 PM	-$3.72	1	0	004 : VEND (MONEY)	00048 : LAPIAZZA-4
09/06/2017 6:46:53 PM	-$4.99	1	0	004 : VEND (MONEY)	00037 : CENTRO 1
09/06/2017 12:27:48 PM	-$1.79	1	0	004 : VEND (MONEY)	00138 : LAPIAZZA-2
09/05/2017 12:08:26 PM	-$4.28	1	0	004 : VEND (MONEY)	00015 : TERIYAKI (MIJ)
09/01/2017 6:03:16 PM	-$5.60	1	0	004 : VEND (MONEY)	00046 : MMM-TH
09/01/2017 10:28:46 AM	-$1.92	1	0	004 : VEND (MONEY)	00063 : MMM-1
08/31/2017 11:18:15 AM	-$4.99	1	0	004 : VEND (MONEY)	00031 : CENTRO 3
08/30/2017 5:06:23 PM	-$6.49	1	0	004 : VEND (MONEY)	00025 : EMW-1
08/30/2017 12:25:48 PM	-$3.47	1	0	004 : VEND (MONEY)	00138 : LAPIAZZA-2
08/28/2017 5:30:38 PM	-$3.57	1	0	004 : VEND (MONEY)	00046 : MMM-TH
08/28/2017 1:53:28 PM	-$7.02	1	0	004 : VEND (MONEY)	00025 : EMW-1
08/28/2017 8:29:32 AM	-$4.40	1	0	004 : VEND (MONEY)	00040 : CENTRO 2
08/26/2017 1:29:18 PM	-$12.95	1	0	102 : ACCOUNT ADJUSTMENT	00053 : FABO MANAGER
 2014 Heartland Campus Solutions
OneWeb ver. 6.9.1.20`,
        mealPlan: "groupA.minimum",
        prcntWeekendsAway: 10,
        readingWeekAwayF: true,
        readingWeekAwayW: true,
        numIndvDaysAway: 0,
        lastExamDayF: 21,
        lastExamDayW: 26,
        numWeekendsAway: 0,
        payingDays: 0
    },
    computed: {
        initialBalance: function() {
            return mealPlanAmounts[this.mealPlan.split(".")[0]][this.mealPlan.split(".")[1]];
        },
        trns: function() {
            var data = this.cpdata

            // var headerString = "Date	Amount	Balance	Units	Trantype	Terminal";
            // var headerEndPos = findStringEndPos(data, headerString);

            // var footerString = "2014 Heartland Campus Solutions"
            // var footerStartPos = data.search(footerString);

            // data = (data.substring(headerEndPos+1, footerStartPos));
            
            
            var date = data.match(/\d{2}\/\d{2}\/\d{4}/g);
            var time = data.match(/\d{1,2}:\d{2}:\d{2} (?:PM|AM)/g);
            var amount = data.match(/-\$\d{1,}.\d{2}/g);
            var place = data.match(/[0-9]{5} : [A-Z]{1,}/g);
            
            var numTrns = amount.length;

            var trns = [];

            for (i = 0; i < numTrns; i++) { 
                trns.push({ 
                    date: date[i+2], 
                    time: time[i],
                    amount: amount[i],
                    place: place[i].slice(8) // Fix this hack with regex
                });
            };

            trns.reverse();
            return trns;
        },
        totalSpent: function() {
            var totalSpent = 0;
            this.trns.forEach(function(transation) {
                if(transation.amount[0] === "-") {
                    totalSpent += parseFloat(transation.amount.slice(2)) * 2;
                }
            });
            totalSpent = totalSpent.toFixed(2);
            return totalSpent;
        },
        avgSpent: function() {
            var stmntStartDate = Date.parse(this.trns[0].date);
            var stmntEndDate = Date.parse(this.trns[this.trns.length-1].date)

            var stmntLength = elapsedDays(stmntStartDate, stmntEndDate);

            // Calculate Average Spent per Day

            var avgSpent = this.totalSpent / stmntLength;
            var avgSpent = avgSpent.toFixed(2);
            return avgSpent;
        },
        allowedSpending: function() {
            var startDateF = new Date(2017, 08, 05).getTime();
            var endDateF = new Date(2017, 11, this.lastExamDayF).getTime();
            var startDateW = new Date(2018, 01, 04).getTime();
            var endDateW = new Date(2018, 04, this.lastExamDayW).getTime();

            var totalDays = elapsedDays(startDateF, endDateF) + elapsedDays(startDateW, endDateW);

            var numWeeksTotal = Math.floor(totalDays / 7);
            this.numWeekendsAway = numWeeksTotal * this.prcntWeekendsAway/100;
            var numDaysAway = (this.numWeekendsAway*2) + this.numIndvDaysAway + this.readingWeekAwayF*9 + this.readingWeekAwayW*9;
            this.payingDays = totalDays - numDaysAway;
            var allowedSpending = this.initialBalance / this.payingDays;

            return allowedSpending.toFixed(2);
        },
        spendingColor: function() {
            spendingColor = "black";
            if (this.avgSpent < this.allowedSpending*0.85) {
                spendingColor = "green";
            } else if (this.avgSpent <= this.allowedSpending) {
                spendingColor = "orange";
            } else {
                spendingColor = "red";
            }
            return spendingColor;
        },
        remainingAmountAvg: function() {
            var remainingAmountAvg = this.initialBalance - this.avgSpent*this.payingDays
            return remainingAmountAvg.toFixed(2);
        },
        activeDays: function() {
            var activeDays = 1;
            var previousDate = this.trns[0].date;

            for(i = 0; i < this.trns.length; i++) {
                if(this.trns[i].date != previousDate) {
                    var previousDate = this.trns[i].date;
                    activeDays++;
                }
            }
            return activeDays;
        },
        costPerDay: function() {
            var costPerDay = this.totalSpent / this.activeDays;
            return costPerDay.toFixed(2);
        },
        locations: function() {

            var locations = [];

            for(i = 0; i < this.trns.length; i++) {
                for(x = 0; x < locations.length; x++) {
                    var match = false;
                    if(this.trns[i].place == locations[x].location) {
                        locations[x].timesVisited++;
                        match = true;
                        break;
                    }
                }
                if(!match) {
                    locations[locations.length] = {
                        "location": this.trns[i].place,
                        "timesVisited": 1
                    }
                }
            }
            return locations;
        }

    }
});

</script>
</body>
</html>