<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meal Plan Analyzer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-106552071-1', 'auto');
        ga('send', 'pageview');
    
    </script>
</head>
<body>

<div id="app" class="wrapper">

<h1 class="text-center">McMaster Meal Plan Analyzer</h1>
<br>
<form id="form" v-on:submit.prevent>
    <div class="card">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                            Copy and paste all data from your entire meal plan term at <a href="https://mealacct.mcmaster.ca/OneWeb/Financial/Transactions" target="_blank">Meal Plan Account</a> > Financial > Transations:
                    </div>
                    <div class="col-sm-auto">
                        <a href="#" class="badge badge-secondary" v-on:click.prevent="showHelp = !showHelp">Need help?</a>
                    </div>
                </div>
                <div class="row" v-if="showHelp">
                    <div class="card border-secondary mt-3">
                        <div class="card-body">
                            <h4 class="card-title">Data import instructions</h4>
                            <p class="card-text">
                                <ol>
                                    <li>
                                        Log on to your meal plan account using your Student number and PIN at <a href="https://mealacct.mcmaster.ca/OneWeb/Account/LogOn" target="_blank">https://mealacct.mcmaster.ca/OneWeb/Account/LogOn</a>.
                                        <br>
                                        <span class="font-italic text-muted">Please note that if you have not logged on before, you will have to create a PIN at Account Settings > <a href="https://mealacct.mcmaster.ca/OneWeb/Account/ResetPIN"> Reset Pin</a></span>
                                    </li>
                                    <li>
                                        Navigate to <a href="https://mealacct.mcmaster.ca/OneWeb/Financial/Transactions" target="_blank">https://mealacct.mcmaster.ca/OneWeb/Financial/Transactions</a>, or click Finanical > Transactions.
                                    </li>
                                    <li>
                                        Select a date range starting from before the school year until the current date. 
                                        <br>
                                        <span class="font-italic text-muted">The easiest way to do this is by changing the year in the "From" field to a year before the school year started (e.g. 2017 -> 2016)</span>
                                    </li>
                                    <li>
                                        Click on the magnifying glass icon. 
                                    </li>
                                    <li>
                                        Select the entire contents of the page and copy it to your clipboard using the shortcuts <span class="font-italic">Ctrl-A, Ctrl-C</span>.
                                        <br>
                                        <span class="font-italic text-muted">(&#8984; - A, &#8984; - C on a Mac)</span> 
                                    </li>
                                </ol>
                                
                                <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="showHelp = false">Close</button>
                            </p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="scrapper" class="form-group">
                <textarea name="rawTransactionData" class="form-control" id="rawTransactionData" cols="25 " rows="5" v-model="cpdata"></textarea>
            </div>
        </div>
    </div>
    <br>
    <div id="options">        
        <div class="form-group">
            <label for="prcntWeeksAway">Percentage of weekends away:</label>
            <div class="input-group">
                <input type="number" class="form-control" min="0" max="100" step="1" name="prcntWeekendsAway" id="prcntWeekendsAway" placeholder="0" v-model="prcntWeekendsAway">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="form-group">
            <p>Reading weeks away:</p>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="awayFallReadingWeek" id="awayFallReadingWeek" v-model="readingWeekAwayF">
                    Fall reading week
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="awayWinterReadingWeek" id="awayWinterReadingWeek" v-model="readingWeekAwayW">
                    Winter reading week
                </label>
            </div>
        </div>

        <transition name="bounce">
            <div class="card">
                <div class="card-header">
                    <a href="#" v-if="moreOptions" v-on:click.prevent="moreOptions = false">Fewer Options</a>
                    <a href="#" v-else v-on:click.prevent="moreOptions = true">More Options</a>
                </div>
                <div id="moreOptions" class="card-body" v-if="moreOptions">
                    <div class="form-group">
                        <label for="extraDaysAway">Extra Days Away:</label>
                        <input type="number" name="extraDaysAway" id="extraDaysAway" placeholder="0" v-model="numIndvDaysAway" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="lastExamDayFall">Last fall exam day:</label>
                        <input type="number" name="lastExamDayFall" id="lastExamDayFall" placeholder="Default: 21" v-model="lastExamDayF" class="form-control">
                        <label for="lastExamDayWinter">Last winter exam day:</label>
                        <input type="number" name="lastExamDayWinter" id="lastExamDayWinter" placeholder="Default: 26" v-model="lastExamDayW" class="form-control">
                    </div>
                </div>
            </div>
        </transition>
    </div>
</form>


<div id="output-data" v-if="cpdata">
        <hr id="io-seperator">

    <p class="h3" id="avgSpent">It costs you <span class="output" v-bind:style="{ color: spendingColor }">${{ costPerDay }}</span> to eat for a day</p>
        
    <p class="h4" id="allowedSpending">You are allowed to spend <span class="output">${{ allowedSpending }}</span> per day</p>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row justify-content-start">
                <span class="col-md-auto">On average, you spend <span class="output" >${{ avgSpent }}</span> per day &emsp;</span>
                <span class="text-muted font-italic col-md-auto">This includes days that you don't purchase anything</span>
            </div>
        </li>
        <li class="list-group-item">You have spent <span class="output">${{ totalSpent }}</span> in total</li>
        <li class="list-group-item">You have <span class="output">${{ amountRemaining }}</span> remaining</li>
        <li v-if="remainingAmountAvg > 0" class="list-group-item">If you continue with your current spending, you will have <span class="output">${{ remainingAmountAvg }}</span> remaining at the end of the year</li>
        <li v-else class="list-group-item">If you continue with your current spending, you will need to add <span class="output">${{ -remainingAmountAvg }}</span> to your account</li>
    </ul>

</div>

</div>

<footer id="mainFooter">
    <div id="mainFooterWrapper">
        <p>Created by Caleb Mech | <a href="https://github.com/cmech/McMaster-Meal-Plan-Analyzer">GitHub</a> </p> 
        <p><span class="text-muted font-italic"> I am not responsible for any misinformation that you may recieve while using this site. </span></p>
    </div>
</footer>

<script src="script.js"></script>
<script>document.getElementById("rawTransactionData").focus();</script>
</body>
</html>